<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        {{ ez_render_field(bike_ride,'photo')}}
        <div class="card-body">
            <h4 class="header-link-table"><a href="{{ path( "ez_urlalias", {"contentId": bike_ride.id} ) }}" target="_self">{{ ez_render_field(bike_ride,'title') }}</a></h4>
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">

                <p><small class="text-muted">{{ ez_render_field(bike_ride,'length') }} Km</small></p>
                <p>
                    <small class="text-muted">Level:
                        {% if not ez_field_is_empty( bike_ride, "difficulty" ) %}
                            {{ ez_render_field(bike_ride,'difficulty') }}
                        {% endif %}
                    </small>
                </p>
                <small class="text-muted border">Fom: {{ ez_field_value(bike_ride,'starting_point') }}</small>
                <small class="text-muted border">To: {{ ez_field_value(bike_ride,'ending_point') }}</small>
            </div>
            <div class="d-flex justify-content-between button-items-right">
                <div class="btn-group">
                    <a href="{{ path( "ez_urlalias", {"contentId": bike_ride.id} ) }}" target="_self"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
            </div>
        </div>
    </div>
</div>